.MixCard {
    cursor: pointer;
    padding-right: 32px;
    border-radius: 2px;
}
.MixCard:hover .MixCard-wrapper {
    background-color: rgba(0, 0, 0, 0.1);
}

.MixCard:hover .MixCard-wrapper {
    box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 440px) {
    .MixCard {
        padding-right: 0;
    }
}

.Card-info {
    padding-top: 16px;
}

.Card-img {
    width: 100%;
}

.Date {
    font-size: 1rem;
    color: grey;
}

.Tag {
    background-color: black;
    color: white;
    padding: 6px;
    margin-right: 6px;
    font-size: 1rem;
    border-radius: 4px;
    text-transform: uppercase;
}
.Tags-container {
    display: flex;
    margin-bottom: 24px;
}
