.MixCard {
    cursor: pointer;
    padding-right: 32px;
}

@media only screen and (max-width: 440px) {
    .MixCard {
        padding-right: 0;
    }
}

.MixCardHeading {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin: 12px 0;
}

.Card-info {
    padding-top: 16px;
}

.Card-img {
    width: 100%;
}

.Date {
    font-size: 1rem;
    color: grey;
}

.Tag {
    background-color: black;
    color: white;
    padding: 6px;
    margin-right: 6px;
    font-size: 1rem;
    border-radius: 4px;
    text-transform: uppercase;
}
.Tags-container {
    display: flex;
    margin-bottom: 24px;
}
