.Menu {
    padding: 15px 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
}

.Logo {
    height: 55px;
}

.Menu-navList {
    display: flex;
}

.Menu-navItem {
    margin-right: 12px;
}

.Menu-socials svg {
    margin-right: 8px;
}
