.MixList-list {
    display: flex;
    flex-wrap: wrap;
}

.MixList-listItem {
    width: 25%;
    justify-content: flex-start;
}

.Page-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
}

@media only screen and (max-width: 1024px) {
    .MixList-listItem {
        width: 50%;
    }
}

@media only screen and (max-width: 440px) {
    .MixList-listItem {
        width: 100%;
    }
}
