.MixList-list {
    display: flex;
    flex-wrap: wrap;
}

.MixList-listItem {
    width: 25%;
    justify-content: flex-start;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .MixList-listItem {
        width: 50%;
    }
}

@media only screen and (max-width: 440px) {
    .MixList-listItem {
        width: 100%;
    }
}
