.MixList-Error {
    display: flex;
    align-items: center;
}
.MixList-Error p {
    margin-left: 16px;
}

.my-masonry-grid {
    display: flex;
    width: auto;
}
.MixList-listItem {
    padding-right: 32px;
    background-clip: padding-box;
}

.MixList-listItem {
    width: 100% !important;
}
